.container{
   display: flex;
   justify-content: center;
   align-items: center;
   align-self: center;
   background: #2f80ed;
   box-shadow: 2px 0px 4px 0px #2f80ed;
   width: 120px;
   height: 32px;
   color: white;
   border-radius: 5px;
   cursor: pointer;
   margin: auto;
 }
 .container:hover{
  background: #5EA2FF;
 }
 .container:disabled {
  background: #ccc;
  box-shadow: 2px 0px 4px 0px #969696;
  cursor: not-allowed;
}