.sort__button,
.sort__label {
  color: #2f80ed;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 11px;
}
.sort__button {
  text-decoration-line: underline;
}