
<div class="withe"><div [routerLink]="''" class="button"></div></div>
<div class="div__img" [appBackgroundImg]="card.snippet.thumbnails.medium.url"></div>
<div class="div__discripshion" [appBorderColor]="card.snippet.publishedAt">
   <div class="row">
   <p class="title">{{ card.snippet.title }}</p>
   
   <p class="text">{{ card.snippet.publishedAt | date: "fullDate"}}</p>
</div>
<p class="description">Description:</p>
<p class="text__description ">{{ card.snippet.description | truncate: 500  }}</p>
   <div class="ico__block">
      <div class="viewed"></div>
      <p>{{ card.statistics.viewCount}}</p>
      <div class="like"></div>
      <p>{{ card.statistics.likeCount}}</p>
      <div class="copy"></div>
      <p>{{ card.statistics.commentCount}}</p>
    </div>
</div>