.param__button {
   box-shadow: 2px 0px 4px 0px #2f80ed;
   margin: 10px;
   background: #2f80ed url("/assets/svg/param.svg") no-repeat center;
   width: 24px;
   height: 24px;
 }

//  .param__button {
//   box-shadow: 2px 0px 4px 0px #2f80ed;
//   margin: 10px;
//   background: #2f80ed url("/flyether-ANGULAR2023Q4/assets/svg/param.svg") no-repeat center;
//   width: 24px;
//   height: 24px;
// }

